h1, h3 {
    color: red;
}
h1 {
    font-size: 40px;
    border: 1px black solid;
}

li {
    background-color: yellow;
    font-size: 20px;
}
.par {
    color: green;
}
.primo {
    text-transform: uppercase;
}
.italic {
    font-weight: bold;
}
.blue {
    color: blue;
}
.java_name {
    background-color: pink;
}
.stack:hover{
    color: orange;
}
.w3s:hover{
    color: green;
}
.mdn:hover{
    color: black;
}
.devdoc:hover{
    color: rgb(255, 255, 0);
}
.trybe:hover{
    color: green;
}


